@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: rgb(255, 240, 221);
}

:root {
    --main-btnColor: rgb(241, 173, 24);
    --main-btnHover: rgb(235, 148, 19);
    --action-color: rgb(247, 119, 0);
    --action-hover: rgb(247, 91, 0);
  }

.container {
    font-size: 200%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
    grid-template-areas: 
        "clear result result result"
        "seven eight nine plus"
        "four five six minus"
        "one two three divide"
        "nill period equals multi";
}

.container div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(247, 217, 154);;
}



.digitBtn{
    font-size: 125%;
    background-color: var(--main-btnColor);
    border: transparent;
    width: 100%;
    height: 100%;
}

.digitBtn:hover{
    background-color: var(--main-btnHover);
}


.clearBtn:hover{
    background-color: var(--action-hover);
}

.functionBtn:hover{
    background-color: var(--action-hover);
}
.clearBtn{
    font-size: 125%;
    background-color:  var(--action-color);
    border: transparent;
    width: 100%;
    height: 100%;  
}
.functionBtn{
    font-size: 125%;
    background-color:  var(--action-color);
    border: transparent;
    width: 100%;
    height: 100%;
}

.display{
    font-size: 100% !important;
    color: black;
    display: flex;
    justify-content: flex-end !important;
    padding-right: 10vw;
    grid-area: result;
    background-color: rgb(243, 188, 105);
}

.clear{
    grid-area: clear;
}

.nine{
    grid-area: nine;
}

.eight{
    grid-area: eight;
}

.seven{
    grid-area: seven;
}

.six{
    grid-area: six;
}

.five{
    grid-area: five;
}

.four{
    grid-area: four;
}

.three{
    grid-area: three;
}

.two{
    grid-area: two;
}

.one{
    grid-area: one;
}

.nill{
    grid-area: nill;
}

.period{
    grid-area: period;
}

.equals{
    grid-area: equals;
}

.plus{
    grid-area: plus;
}

.minus{
    grid-area: minus;
}

.divide{
    grid-area: divide;
}

.multi{
    grid-area: multi;
}
