@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: rgb(255, 240, 221);
}

:root {
    --main-btnColor: rgb(241, 173, 24);
    --action-color: rgb(247, 119, 0);
  }

.container {
    font-size: 200%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
    grid-template-areas: 
        "clear result result result"
        "seven eight nine plus"
        "four five six minus"
        "one two three divide"
        "nill period equals multi";
}

.container div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(247, 217, 154);;
}

.container div:hover{
    background-color: rgb(214, 98, 3);
}

.clear{
    grid-area: clear;
    background-color: rgb(255, 81, 0);
}

.result{
    font-size: 100% !important;
    color: black;
    display: flex;
    justify-content: flex-end !important;
    padding-right: 10vw;
    grid-area: result;
    background-color: rgb(243, 188, 105);
}

.nine{
    grid-area: nine;
    background-color: var(--main-btnColor);
}

.eight{
    grid-area: eight;
    background-color: var(--main-btnColor);
}

#seven{
    grid-area: seven;
    background-color: var(--main-btnColor);
    width: 100%;
    height: 100%;
    outline: none;
    border: transparent;
    font-size: 130%;
}

.six{
    grid-area: six;
    background-color: var(--main-btnColor);
}

.five{
    grid-area: five;
    background-color: var(--main-btnColor);
}

.four{
    grid-area: four;
    background-color: var(--main-btnColor);
}

.three{
    grid-area: three;
    background-color: var(--main-btnColor);
}

.two{
    grid-area: two;
    background-color: var(--main-btnColor);
}

.one{
    grid-area: one;
    background-color: var(--main-btnColor);
}

.nill{
    grid-area: nill;
    background-color: var(--main-btnColor);
}

.period{
    grid-area: period;
    background-color: var(--main-btnColor);
}

.equals{
    grid-area: equals;
    background-color:  var(--action-color);
}

.plus{
    grid-area: plus;
    background-color: var(--action-color);
}

.minus{
    grid-area: minus;
    background-color: var(--action-color);
}

.divide{
    grid-area: divide;
    background-color: var(--action-color);
}

.multi{
    grid-area: multi;
    background-color: var(--action-color);
}
